html {
    font-size: 62.5%;
    box-sizing: border-box;
}
  
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
.container {
    text-align: center;
}
  
.btnContainer {
    display: inline-block;
}
  
input {
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
}
  
.convertButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    vertical-align: top;
}
  
.btn {
    height: 145px;
    width: 145px;
    border-radius: 20px;
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: #ff7979;
}

body {
    background-color: #95a5a6;
}
  
button:hover {
    background-color: #f9ca24;
}

button:visited {
    background-color: #f9ca24;
}

.clicked {
    background-color: #f9ca24;
}

label {
    overflow-wrap: break-word;
}

a {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.inputLabel {

    font-size: 25px;
}

.datatypeLabel {


  font-weight: bold;
  font-size: 18px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f9ca24;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
