html,
body {
	color: #434242;
	font-family: 'Open Sans', sans-serif !important;
	height: 100%;
	position: relative;
}

body {
	background: #C4DFE6;
	font-size: 15px;
	line-height: 1.64;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
strong,
b {
	font-family: 'Open Sans', sans-serif !important;
	margin-bottom: 20px;
}

h1,
h4 {
	font-weight: 700;
	margin-bottom: 10px;
}

h2,
h3 {
	font-weight: 300;
	color: #07575B;
}

h2 {
	font-size: 54px;
	text-align: center;
}

h3 {
	font-size: 28px;
}

p.lead {
	text-align: center;
	color: #727878;
}

p.lead a {
	color: #FFFFFF;
	text-decoration: underline;
}

p.lead a:hover {
	text-decoration: none;
}

ul.no-bullets {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

hr {
	margin: 40px 0px;
	border-color: #727878;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.project-referal {
	margin-top: 40px;
}

.project-referal p {
	font-style: italic;
	color: #999999;
}

.btn-primary {
	background-color: #22A39F;
	border-color: #1c8784;
}

.btn-primary:hover {
	background-color: #1c8784;
	border-color: #1c8784;
}


/* NAVBAR SECTION */
/* shows active element for scrollspy */
.active {background-color: #66A5AD;}

/* brings to top */
#naver{z-index: 1;}

/* sets text color white */
#naver li a {color: #fff;}

/* spacing from side scroll bar & bg color */
#naver ul{padding-right: 5px; background: #222222;}

/* highlights links on hover */
#naver li:hover, li:focus-within { background: #66A5AD; cursor: pointer;}

/* opens dropdown on hover */
#naver ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block
}

/* Page content */
.content {
	padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 60px;
  }
/* NAVBAR SECTION */

.background-white {
	background: #FFFFFF;
	width: 100%;
	padding: 0;
	margin: 0;

}

.background-gray {
	background: #434242;
}

.container {
	max-width: 1280px;
	padding: 40px 180px;

}

#aboutMe .row>div {
	margin-bottom: 20px;
}

#aboutMe .row>div img {
	width: 100%;
	max-width: 246px;
	height: auto;
}

#experiences .experience {
	margin-bottom: 20px;
}

#experiences .experience p>strong {
	display: block;
	padding-top: 8px;
	margin-bottom: 10px;
}

#experiences .experience .experience-details {
	display: block;
	margin-top: 6px;
}

#experiences .experience .experience-details * {
	color: #66A5AD;
}

#experiences .experience .experience-details .seperator {
	color: #BCBCBC;
}

/* SKILLS SECTION */
#skills ul > li {min-height: 30px; padding: 3px 0px;}

#skills ul > li:hover {background: #F2F2F2;}

#skills ul > li .skills-title {display: inline-block; width: 60%;}

#skills ul > li .skills-score {float: right;}

#skills ul>li .skills-score .glyphicon {
	color: #DFE0E0;

	font-size: 14px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#skills ul>li .skills-score .glyphicon.filled {color: #66A5AD;}

#skills ul>li:hover .skills-score .glyphicon {margin-left: 2px;}
/* SKILLS SECTION */

/* RELEVANT COURSEOWRK SECTION */
#relcw ul>li {
	min-height: 30px;
	padding: 3px 0px;
}

#relcw ul>li:hover {
	background:#F2F2F2;
}

#relcw ul li{display:block;  padding: 30px;}


.courseName{ float: left; white-space: nowrap;}
.grade {float: right; font-size: 20px; font-weight: bold; color: #66A5AD; float: right; }
/* RELEVANT COURSEOWRK SECTION */


#projects .row>div {
	margin-bottom: 30px;
}

#projects figure {
	position: relative;
	overflow: hidden;
}

#projects figure h3 {
	color: #FFF;
	font-weight: 600;
	margin-bottom: 5px;
}

#projects figure p>strong {
	width: 60px;
	display: inline-block;
	margin: 0px;
}

#projects figure img {
	width: 110%;
}

#projects figure figcaption {
	padding: 20px 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#projects figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#projects figure .icon {
	background: #66A5AD;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 48px;
	height: 48px;
}

#projects figure .icon span {
	font-size: 18px;
	line-height: 18px;
	padding: 15px;
}

#contact {
	padding-bottom: 200px;
}

#contact h2,
#contact .row * {
	color: #FFFFFF;
}

#contact a {
	display: block;
	line-height: 32px;
	margin-bottom: 20px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

#contact a .icon {
	float: left;
	margin-right: 20px;
}

#contact a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	text-decoration: none;
}





@media (max-width: 1200px) {
	#interests .interest-content {
		padding: 20px 0px;
	}
}

@media (max-width: 767px) {




	.navbar .nav>li {
		height: 40px;
	}

	.navbar .nav>li a {
		height: 40px;
		text-align: center;
		padding-top: 20px;
		font-weight: 600;
		color: #FFFFFF;
	}

	.fixed .navbar {
		top: 0px;
	}


	.container {
		padding: 60px 20px;
		min-width: 280px;
	}

	.hidden-phone {
		display: none;
	}

	#aboutMe .row * {
		text-align: center;
	}

	#experiences .experience .experience-details>span {
		display: block;
		margin-bottom: 6px;
	}

	#experiences .experience .experience-details .seperator {
		display: none;
	}


	#contact {
		padding-bottom: 60px;
	}

	#contact a .icon {
		float: left;
		margin-right: 10px;
	}
}

@media (max-device-width: 480px){



	.mobile{
		display: none;
	}

}


@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}


/*---------------*/
/***** EFFECT *****/
/*---------------*/

figure.effect {
	background: #66A5AD;
	color: #FFF;
}

figure.effect img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect:hover img {
	opacity: 0.2;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect figcaption {
	text-align: left;
}

figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
	opacity: 1;
}

figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

figure.effect:hover h3::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect p {
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}