
.container { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

body {
   display: flex;
  justify-content: center; 
}

a {

    padding-left: 100px;
    justify-self: end;
}

.box {
 margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}